<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Effects on self-reported anxiety and depressive symptoms of the selfapplied transdiagnostic online program Learn to Manage your Emotions (AMtE) in clinical adolescents: A randomized controlled trial	</title>
	<atom:link href="https://wasad2023.org/effects-on-self-reported-anxiety-and-depressive-symptoms/feed/" rel="self" type="application/rss+xml" />
	<link>https://wasad2023.org/effects-on-self-reported-anxiety-and-depressive-symptoms/</link>
	<description>WORLD ASSOCIATION FOR STRESS-RELATED AND ANXIETY DISORDERS e.V.</description>
	<lastBuildDate>Tue, 12 Sep 2023 05:00:27 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.5.3</generator>
</channel>
</rss>
