<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Christian Riederer &#8211; WASAD 2023</title>
	<atom:link href="https://wasad2023.org/author/criederer/feed/" rel="self" type="application/rss+xml" />
	<link>https://wasad2023.org</link>
	<description>WORLD ASSOCIATION FOR STRESS-RELATED AND ANXIETY DISORDERS e.V.</description>
	<lastBuildDate>Thu, 16 May 2024 14:00:16 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.5.3</generator>
</channel>
</rss>
