<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: The effect of mindfulness on the quality of life of individuals with anxiety related disorders: A systematic review and meta analysis	</title>
	<atom:link href="https://wasad2023.org/heel-industry-symposium/feed/" rel="self" type="application/rss+xml" />
	<link>https://wasad2023.org/heel-industry-symposium/</link>
	<description>WORLD ASSOCIATION FOR STRESS-RELATED AND ANXIETY DISORDERS e.V.</description>
	<lastBuildDate>Sun, 10 Sep 2023 03:44:47 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.5.3</generator>
</channel>
</rss>
