<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Prevention effects after six and twelve months of the transdiagnostic onlineCBT program “Learn to Manage your Emotions”Clinically significant change based on clinician-rated measures after the self-applied transdiagnostic online program Learn to Manage your Emotions (AMtE) for the treatment of emotional disorders in adolescents: A randomized controlled trial	</title>
	<atom:link href="https://wasad2023.org/prevention-effects-after-six-and-twelve-months-of-the-transdiagnostic-onlinecbt-program-learn-to-manage-your-emotions/feed/" rel="self" type="application/rss+xml" />
	<link>https://wasad2023.org/prevention-effects-after-six-and-twelve-months-of-the-transdiagnostic-onlinecbt-program-learn-to-manage-your-emotions/</link>
	<description>WORLD ASSOCIATION FOR STRESS-RELATED AND ANXIETY DISORDERS e.V.</description>
	<lastBuildDate>Tue, 12 Sep 2023 04:58:20 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.5.3</generator>
</channel>
</rss>
